@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Vazir" !important;
}
.my-back {
  background: url(./images/autumn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  width: 50px;
  display: inline;
  margin: 10px;
}
.chargeForm {
  width: 40%;
}
.btn-cont {
  text-align: center;
}
